<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>

          <Exclude>
            [Clinica.Infrastructure]*,
            
            [Clinica.API]Clinica.API.Controllers.ComprobantesController,
            [Clinica.API]Clinica.API.Controllers.AuditoriaController,
            [Clinica.API]Clinica.API.Controllers.AtencionesController,
            [Clinica.API]Clinica.API.Filters.AuditoriaAttribute,
            [Clinica.API]Clinica.API.Filters.AuditoriaAutomaticaFilter,
            [Clinica.API]Clinica.API.Services.Imp.ComprobanteService,
            [Clinica.API]Clinica.API.Services.Imp.AuditoriaService,
            [Clinica.API]Clinica.API.Services.Imp.AtencionService,

            [Clinica.Domain]*Auditoria*,
            [Clinica.Domain]*Comprobante*,
            [Clinica.Domain]*Atencion*
          </Exclude>

          <ExcludeByAttribute>
            Obsolete,
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute,
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>

          <IncludeTestAssembly>false</IncludeTestAssembly>

          <SkipAutoProps>false</SkipAutoProps>

          <UseSourceLink>false</UseSourceLink>
          <SingleHit>false</SingleHit>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>