<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>

          <Exclude>
            [xunit.*]*
            [*.Tests]*

            [Clinica.API]Program
            [Clinica.API]Configurations.*
            [Clinica.API]Middlewares.*

            [Clinica.Infrastructure]Migrations.*
            
          </Exclude>

          <ExcludeByAttribute>
            Obsolete
            GeneratedCodeAttribute
            CompilerGeneratedAttribute
          </ExcludeByAttribute>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>